//colors
$bodyBg:#F9FAFC;
$sideBarColor:#01134E;
$topLine_FontColor:#252F48;
$userItem_FontColor: #01134E;
$userMessage_FontColor:#222428;
$userMessage_bgcolor:#F7F9FC;
$activeMarker: #0AD69C;

//fonts
$topLine_font:'Roboto', sans-serif;
$userList_font: 'Exo 2', sans-serif;
