doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Homework
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/main.css")
	body
		include ./components/aside.pug
		include ./components/main.pug

